html{
	background-color: #fff;
}

body{
	display: table;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 11px;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	color: #333333;
}

a{
	color: #333;
}

a:hover{
	color: #666;
}

.wrapper{
	margin: auto;
	width: 950px;
}

.cleaner,.cleaner_with_height{
	clear: both;
}
/*********** area de contenido y secciones ************/
.area_de_contenido{
	margin-top: 30px;
	margin-bottom: 10px;
}
/* *************left_section************** */
#left_section{
	float: left;
	width: 410px;
	margin: 0;
}

.left_section_box{
	margin: 0 0 15px;
}

.left_section_box #box_contenido img{
	display: inline;
	float: left;
	margin: 0 13px 10px 0;
	border: none;
}

.left_section_box #box_contenido {
	width: 380px;
	padding: 15px 15px 0;
}
.left_section_box #box_cabecera{
	width: 395px;
	height: 20px;
	background-image: url(../images/section_box_top.jpg);
	background-repeat: repeat-x;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	padding: 10px 0 0 15px;
}

.left_section_box #box_contenido .post{
	margin-top: 25px;
	margin-right: 25px;
	color: #c60;
	font-size: 11px;
}

.left_section_box #box_contenido .post a{
	color: #c60;
	text-decoration: none;
}

.left_section_box #box_contenido .post a:hover{
	text-decoration: underline; 
}
/* ***********end left_section************* */

/* ***********middle_section *************** */
#middle_section{
	float: left;
	width: 180px;
	margin: 0;
	margin-left: 15px;
}

.middle_section_box{
	margin: 0 0 15px;
	padding: 10px;
	border: solid 1px #ccc;
	width: 168px;

}

.middle_section_box h1{
	color: #c60;
	text-decoration: underline;
	font-size: 15px;
	margin: 0 0 8px;
	padding: 0;
}
.middle_section_box ul{
	list-style: none;
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 11px;
	font-family: Verdana;
}

.middle_section_box ul li{
	margin-bottom: 3px;
}

.middle_section_box ul li#last{
	margin-bottom:24px;
}
/* ***********end middle_section *************** */
/**********right_section********************/
#right_section{
	float: right;
	width: 322px;
	margin: 0;
	margin-right: 10px;
}

.right_section_box{
	margin: 0 0 15px;
	padding: 10px;
	border: solid 1px #ccc;
}

.right_section_box h1{
	color: #c60;
	text-decoration: underline;
	font-size: 15px;
	margin: 0 0 8px;
	padding: 0;
}

.right_section_box h2{
	color: #333;
	font-size: 11px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.right_section_box h2:hover{
	text-decoration: underline;
}

.right_section_box p{
	color: #333;
	font-size: 11px;
	text-align: justify;
	margin: 0px 0px 20px;
	padding: 0;
}

.right_section_box p.last{
	margin: 0;
}

.right_section_box #galeria{
	margin-left: 5px;
}

.right_section_box #galeria img{
	margin: 5px 5px 0px 0px;
}

.right_section_box img:last-child{
	margin: 5px 0px 5px;
}
/* *****************end right_section******************* */
/* 

/* *****************end area contenido*********************** */

/************** cabecera ******************/
.cabecera{
	width: 100%;
	height: 157px;
	background-image: url(../images/background_section_top_bg.jpg);
	background-repeat: repeat-x;
}
#logo{
	float: left;
	width: 385px;
	height: 55px;
	margin-top: 25px;
	padding: 20px 0 0 25px;
	background-image: url(../images/logo_bg.jpg);
}

#logo h1,#logo h2{
	font-weight: normal;
	margin: 0;
	color: #666;
}

#logo h1{
	font-size: 24px;
	padding: 0;
}

#logo h2{
	font-size: 14px;
	padding: 10px 0 0;
}

#menu{
	float: left;
	height: 38px;
	margin: 0;
	margin-top: 21px;
	padding: 0;
}
#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu li{
	display: inline;
}
#menu li a{
	float: left;
	width: 110px;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	color: #8A4500;
	padding:8px 0 0;
}

#menu li a:hover,#menu .current{
	color: #fff;
	height: 26px;
	background-color: #cc6601;
}

#search{
	float: right;
	width: 320px;
	height: 70px;
	margin: 58px 20px 0 0;
}

#search form{
	float: right;
	width: 330px;
	margin: 10px 0 0;
	
}
#search img{
	float: right;
	margin: 0 -7px 0 0;
}

#textfield{
	float: left;
	width: 240px;
	height: 16px;
	background: #fff;
	color: #999;
	border: solid 1px #999;
	margin: 0;
	padding: 5px 5px;
}

#button{
	float: right;
	border: solid 1px #999;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	white-space: pre;
	width: 70px;
	height: 28px;
	color: #999;
	background: #fff;
	margin: 0;
	padding: 4px 0 5px;
}
#icons{
	float: right;
	height: 38px;
	margin: 0;
	margin-top: 21px;
	padding: 0;
}
#icons ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#icons li{
	display: inline;
	float: left;
}
#icons li a{
	display: block;
	height: 32px;
	width: 32px;
}
#google{
	background: url("../images/icons/google-plus.png")no-repeat;
}
#google:hover{
	background: url("../images/icons/google-plus-n.png")no-repeat;
}
#facebook{
	background: url("../images/icons/facebook.png")no-repeat;
}
#facebook:hover{
	background: url("../images/icons/facebook-n.png")no-repeat;
}
#instagram{
	background: url("../images/icons/instagram.png")no-repeat;
}
#instagram:hover{
	background: url("../images/icons/instagram-n.png")no-repeat;
}
#youtube{
	background: url("../images/icons/youtube.png")no-repeat;
}
#youtube:hover{
	background: url("../images/icons/youtube-n.png")no-repeat;
}
#twitter{
	background: url("../images/icons/twitter.png")no-repeat;
}
#twitter:hover{
	background: url("../images/icons/twitter-n.png")no-repeat;
}
/************* end cabecera *************************/
/* *************footer************* */

.footer{
	width: 100%;
	height: 29px;
	background-image: url(../images/footer_bg.jpg);
	font-family: Verdana;
	text-align: center;
	font-size: 11px;
	padding: 20px 0 0;
	color: #666;
}