html{
	background-color: #fff;
}

body{
	display: table;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	color: #333333;
}

a{
	color: #333;
}

a:hover{
	color: #666;
}

#wrapper{
	margin: auto;
	width: 950px;
}

.cleaner,.cleaner_with_height{
	clear: both;
}
/*********** area de contenido y secciones ************/
.area_de_contenido{
	margin-top: 30px;
	margin-bottom: 10px;
}
/* *************left_section************** */
#left_section{
	float: left;
	width: 410px;
	margin: 0;
}

.left_section_box{
	margin: 0 0 15px;
}

.left_section_box #box_contenido img{
	display: inline;
	float: left;
	margin: 0 13px 10px 0;
	border: none;
}

.left_section_box #box_contenido {
	width: 380px;
	padding: 15px 15px 0;
}
.left_section_box #box_cabecera{
	width: 395px;
	height: 20px;
	background-image: url(../images/section_box_top.jpg);
	background-repeat: repeat-x;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	padding: 10px 0 0 15px;
}

.left_section_box #box_contenido .post{
	margin-top: 25px;
	color: #c60;
	font-size: 11px;
}

.left_section_box #box_contenido .post a{
	color: #c60;
	text-decoration: none;
}

.left_section_box #box_contenido .post a:hover{
	text-decoration: underline; 
}
/* ***********end left_section************* */

/* ***********middle_section *************** */
#middle_section{
	float: left;
	width: 180px;
	margin: 0;
	margin-left: 15px;
}

.middle_section_box{
	margin: 0 0 15px;
	padding: 10px;
	border: solid 1px #ccc;
	width: 168px;

}

.middle_section_box h1{
	color: #c60;
	text-decoration: underline;
	font-size: 15px;
	margin: 0 0 8px;
	padding: 0;
}
.middle_section_box ul{
	list-style: none;
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 11px;
	font-family: Verdana;
}

.middle_section_box ul li{
	margin-bottom: 3px;
}

.middle_section_box ul li#last{
	margin-bottom:24px;
}
/* ***********end middle_section *************** */
/**********right_section********************/
#right_section{
	float: right;
	width: 322px;
	margin: 0;
	margin-right: 10px;
}

.right_section_box{
	margin: 0 0 15px;
	padding: 10px;
	border: solid 1px #ccc;
}

.right_section_box h1{
	color: #c60;
	text-decoration: underline;
	font-size: 15px;
	margin: 0 0 8px;
	padding: 0;
}

.right_section_box h2{
	color: #333;
	font-size: 11px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.right_section_box h2:hover{
	text-decoration: underline;
}

.right_section_box p{
	color: #333;
	font-size: 11px;
	text-align: justify;
	margin: 0px 0px 20px;
	padding: 0;
}

.right_section_box p.last{
	margin: 0;
}

.right_section_box #galeria{
	margin-left: 5px;
}

.right_section_box #galeria img{
	margin: 5px 5px 0px 0px;
}

.right_section_box img:last-child{
	margin: 5px 0px 5px;
}
/* *****************end right_section******************* */
/* 

/* *****************end area contenido*********************** */

/************** cabecera ******************/

#logo{
	float: left;
	width: 385px;
	height: 55px;
	margin-top: 25px;
	padding: 20px 25px 0 0;
	background-image: url(../images/background_section_top_bg.jpg);
}

#menu{
	float: left;
	height: 38px;
	margin: 0;
	margin-top: 21px;
	padding: 0;
}

#search{
	float: right;
	width: 320px;
	height: 70px;
}

/************* end cabecera *************************/