#animated-menu{
	position: absolute;
	margin: 121px auto 0px;
}

#animated-menu .current{
	color: #fff;
	height: 26px;
	background-color: #cc6601;
}

#animated-menu ul{
	margin:0;
	padding:0;
	width: 950px;
	list-style: none;
}

#animated-menu li{
	width:125px;
	height:34px;
	float:left;
	color:#191919;
	text-align:center;
	overflow:hidden;
	margin-right: 10px;
}

#animated-menu a{
	color: #8A4500;
	text-decoration:none;
	font-weight: bold;
}

#animated-menu p{
	padding:0px 5px;
}

	#animated-menu a .subtext{
		padding-top:15px;

	}

/*Menu Color Classes*/
.green{background:#6AA63B url('images/green-item-bg.jpg') top left no-repeat;}
.yellow{background:#FBC700 url('images/yellow-item-bg.jpg') top left no-repeat;}
.red{background:#D52100 url('images/red-item-bg.jpg') top left no-repeat;}
.purple{background:#5122B4 url('images/purple-item-bg.jpg') top left no-repeat;}
.blue{background:#0292C0 url('images/blue-item-bg.jpg') top left no-repeat;}
.other{
	background: #cc6601;
	
}

/* #animated-menu a:first-child{
	color: #8A4500;
} */